body {
  text-align: center;
  font-family: Arial, sans-serif;
  background: #222;
  color: white;
}

#game {
  position: relative;
  width: 800px;
  height: 400px;
  margin: 20px auto;
  background: #333;

  border-left: 3px solid white;
  border-right: 3px solid white;
  border-top: 3px solid white;

  border-bottom: none;

  overflow: hidden;
}

#player {
  position: absolute;
  bottom: 10px;
  left: 380px;
  font-size: 40px;
}

.enemy {
  position: absolute;
  top: 0;
  font-size: 40px;
}
